.construction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: orange;
  overflow: hidden;
}

.message {
  text-align: center;
}

.message h1 {
  margin: 0.7rem 0;
}

.border {
  white-space: nowrap;
}

.fixMargin {
  margin-right: -17px;
}

