@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
}

.higlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, orange 40%);
}
